<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYI-KHadAo912UAs2yhLve3hTn82ijjcc</string>
	<key>GCM_SENDER_ID</key>
	<string>381142599311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdoshamss.taskmangment.taskMangment</string>
	<key>PROJECT_ID</key>
	<string>task-managment-cff84</string>
	<key>STORAGE_BUCKET</key>
	<string>task-managment-cff84.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381142599311:ios:b4f2628cea9647a3c6d2fa</string>
</dict>
</plist>